@import 'tailwindcss/preflight';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/forms';

html,
body {
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #000000;
}

.background {
  background-image: url('/html-css-onboarding/assets/images/background.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.nav-bar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100px;
  padding: 0 40px;
}

.nav-bar > a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

.movy {
  flex-grow: 2;
}

.login-form {
  width: 440px;
  min-height: 477px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.81;
  border-radius: 4px;
  margin: auto;
  box-sizing: border-box;
  /* position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-check {
  flex-direction: row;
  flex: 1 1 50%;
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 6.91%,
    #000000 68.61%
  );
  position: absolute;
  width: 100%;
  height: 412px;
  bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 140px 60px 140px;
  box-sizing: border-box;
}

.footer > h2 {
  margin-bottom: 52px;
}

.sections > div {
  display: flex;
  justify-content: space-between;
}

.item {
  margin: 0 0 18px;
  flex: 1;
}

@media (max-width: 727px), (max-height: 860px) {
  .login-form {
    width: 320px;
  }

  .footer {
    position: relative;
    padding: 0 30px;
  }
  .footer > h2 {
    margin-top: 0;
  }

  .sections > div {
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
  .item {
    flex: 1 1 50%;
  }
}
