@import 'tailwindcss/preflight';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'tailwindcss/forms';

html,
body {
  font-family: sans-serif;
  color: #ffffff;
  font-size: 16px;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #000000;
}

#user-profile {
  background-color: #161616;
}

.background {
  background-image: url('/html-css-onboarding/movy-project/assets/images/background.jpeg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

.nav-bar {
  box-sizing: border-box;
  display: flex;
  padding: 30px 40px 30px 103px;
  align-items: center;
}

.nav-item a {
  text-decoration: none;
}

.nav-item {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  display: block;
}

.logo {
  font-size: 30px;
  position: relative;
  margin-right: 78px;
}

.oval {
  background-color: #0578ff;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  top: -1px;
  left: 60px;
}

.profile-menu {
  display: flex;
  align-items: center;
}
.profile-menu #search {
  width: 17px;
  height: 17px;
  margin-right: 13px;
}
.profile-menu #profile {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}
.profile-menu #arrow {
  width: 8px;
  height: 5px;
}

.login-form {
  width: 440px;
  min-height: 477px;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.81;
  border-radius: 4px;
  margin: auto;
  box-sizing: border-box;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-check {
  flex-direction: row;
  flex: 1 1 50%;
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 6.91%,
    #000000 68.61%
  );
  position: absolute;
  width: 100%;
  height: 412px;
  bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 140px 60px 140px;
  box-sizing: border-box;
}

.footer > h2 {
  margin-bottom: 52px;
}

.footer .sections > div {
  display: flex;
  justify-content: space-between;
}

.item {
  margin: 0 0 18px;
  flex: 1;
}

.edition-container {
  max-width: 847px;
  margin: auto;
  padding-bottom: 24px;
}

.title {
  font-size: 50px;
  margin-bottom: 12px;
}

.edition > .image {
  width: 165px;
  height: 165px;
  margin-right: 84px;
  background: #f2f2f2;
  border: 0.767442px solid #979797;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
}

.edition > .image > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edition {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.separator {
  margin-bottom: 40px;
  border: 1px solid #979797;
}

.edition-form {
  flex: 1;
}

.first-line {
  display: flex;
  margin-bottom: 18px;
}

.first-line > div {
  margin-left: 18px;
}

.input {
  box-sizing: border-box;
  background-color: #000000;
  border: 1px solid #0578ff;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 300;
}

.border-button {
  border: 1px solid #0578ff;
}
#cancel-button {
  width: 166px;
}
#delete-button {
  width: 273px;
}

.custom-select {
  -webkit-appearance: none;
  appearance: none;
  padding-left: 24px;
  margin-right: 40px;
  font-size: 18px;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: url('/html-css-onboarding/movy-project/assets/images/arrow-down.png');
  top: 50%;
  right: 21px;
  position: absolute;
  transform: translateY(-50%);
}

.my-list {
  background-color: #000000;
}

.my-list-container {
  padding: 0 40px 0 100px;
  box-sizing: border-box;
}

.films {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.film-pic {
  width: 100%;
  height: 100%;
}

.film-details {
  transition: 0.2s;
  width: 263px;
  height: 144px;
  position: relative;
}

.film-details > .details {
  padding: 15px 18px;
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.film-details:hover {
  width: 349px;
  height: 192px;
}

.film-details:hover > .details {
  opacity: 1;
  transition: 1s;
}

@media (min-width: 728px) and (max-width: 1100px) {
  .edition-container,
  .my-list-container {
    padding-left: 80px;
    padding-right: 80px;
  }

  .first-line {
    flex-wrap: wrap;
  }

  .first-line > div {
    margin-left: 0;
    margin-top: 18px;
  }
}

@media (max-width: 727px), (max-height: 860px) {
  .login-form {
    width: 320px;
  }

  .footer {
    position: relative;
    padding: 0 30px;
  }
  .footer > h2 {
    margin-top: 0;
  }

  .footer .sections > div {
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
  }
  .item {
    flex: 1 1 50%;
  }

  .nav-bar {
    padding-left: 26px;
  }

  .my-list-container,
  .edition-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .title {
    font-size: 38px;
  }

  .edition-form {
    margin-top: 24px;
    min-width: 100%;
  }

  .first-line {
    flex-wrap: wrap;
  }
  .first-line > div {
    margin-left: 0;
    margin-top: 18px;
  }

  .buttons {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .buttons > div {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  #delete-button {
    width: 100%;
    margin-left: 0;
  }

  .films {
    justify-content: center;
  }
}
